body {
  margin: 0;
  margin-top: 5%;
}

.container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(46, 46, 120);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  /* identical to box height, or 90% */

  text-align: center;

  color: whitesmoke;
}

#score1,
#score2 {
  width: 190px;
  height: 0px;
  padding-bottom: 20px;
  font-family: "Cursed Timer ULiL";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  /* or 141% */

  text-align: center;

  color: #f94f6d;
}

.score {
  background-color: black;
}

button {
  font-family: "Cursed Timer ULiL";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 155% */

  text-align: center;

  color: #9aabd8;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 50px;
  width: 50px;
  background-color: rgb(46, 46, 120);
  border-style: solid;
  border-color: #9aabd8;
}

.btn {
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
